.features {
  @include montserratReg;
  text-align: center;
  padding: 34px 25px 0;
  background-color: #f4f4f4;

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: #8d81ac;
  }

  &__subtitle {
    font-size: 16px;
    color: #323232;
    margin-bottom: 18px;
  }

  &__icon {
    margin: 35px 0 25px;
  }

  &__info {
    @include montserratReg;
    font-size: 14px;
    color: #848e97;
    line-height: 1.3;
  }

  &__img {
    margin: 57px 0 6px -22px;
    height: 381px;
  }
}
@media screen and(min-width: 481px){
  .features {
    text-align: left;
    padding: 54px 30px 23px;

    &__title {
      margin-bottom: 60px;
      font-size: 41px;
      text-align: center;
    }

    &__icon-wrapper {
      display: inline-block;
      width: 24%;
      text-align: center;
      vertical-align: top;
    }

    &__icon {
      margin: 0 0 60px;
    }

    &__text {
      display: inline-block;
      text-align: left;
      width: 75%;
    }

    &__img {
      height: initial;
      margin: 0;
    }
  }
}
@media screen and (min-width: 992px){
  .features {
    display: grid;
    grid-template-columns: 48% 52%;
    grid-auto-rows: min-content;
    padding-top: 99px;
    padding-right: -1;

    &__title {
      grid-column: 2 / 3;
      text-align: left;
      margin-left: 21px;
      margin-bottom: 29px;
    }
    &__items {
      grid-row: 1 / 3;
      margin: 0 60px;
    }

    &__icon-wrapper { width: 36%; }
    &__text {
      width: 62%;
      margin-bottom: 10px;
    }
    &__img-wrapper {
      overflow: hidden;
    }
  }
}