.header{
  max-width: 480px;
  position: relative;
  padding-bottom: 27.5px;
  font-family: 'Montserrat', sans-serif;

  &__main{
    background: url("../img/bg-header.svg") no-repeat center center;
    background-size: 100% 100%;
    height: 718px;
  }
  &__nav{
    background-color: #27262A;
    padding: 32px 15px 30px 16px;
  }

  &__logo-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__logo-img{
    width: 43px;
    height: 41px;
    fill:#8D81AC;
  }
&__logo:hover &__logo-img{
  fill:#FFFFFF;
}

&__logo-text{
  display: none;
}
  &__burger {
    width: 26px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: 0;
    top: 0;
    right: 0;
    position: relative;

    & span {
      @include burger-line;
      width: 26px;
      left: 0;
      top: calc(50% - 1.5px);

    }

    & span::before, & span::after {
      content: '';
      @include burger-line;
      transition: all 0.3s ease 0s;
    }

    & span::before {
      top: -9px;
      width: 15px;
      right: 0;
    }

    & span::after {
      top: 9px;
      width: 26px;
      left: 0;
    }
  }

  &__burger.active span {
    background-color: transparent;
    transition: all 0.3s ease 0s;
  }

  &__burger.active span::before {
    top: 0;
    width: 26px;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
  }

  &__burger.active span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s;
 }

  &__btn-nav{
    @include btn;
    font-size: 15px;
    line-height: 15px;
    padding: 11px 27.4px;
  }

  &__btn-nav:hover {
    color: #8d81ac;
    background: #fff;
    border: 1px solid #8D81AC;
  }
&__main-part{
  text-align: center;
}

  &__menu{
      display: none;
    }

  &__dropdown {
    position: absolute;
    width: 91.218%;
    background: #333333;
    right: 0;
    transition: all 0.3s ease 0s;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__dropdown.active {
     z-index: auto;
  }

  &__menu-list {
    padding: 29px 109.9px 21px 34.99px;
    border-bottom: 3px solid #3B3B3B;
    position: relative;

    &.last{
    height: 14px;
    padding: 0;
    border: none;
  }
  }

  &__menu-list:hover &__menu-link{
    color: #8D81AC;
}

  &__menu-list:hover &__menu-link::before {
    content: '';
    top: 50%;
    width: 8px;
    height: 53px;
    background: #8d81ac;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
  }
  &__menu-link {
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    text-align: start;
}

  &__title{
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 19px;
    padding-top: 50px;
}

  &__text, &__text-btn{
    font-size: 14px;
    text-transform: uppercase;
    color: #848E97;
}
  &__text-btn{
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848E97;
  }

  &__main-text{
    font-size: 18px;
    line-height: 24px;
    color: #8D81AC;
    margin-right: 26px;
    margin-left: 26px;
    margin-bottom: 14px;
}

  &__btn{
    @include btn;
    font-size: 18px;
    line-height: 20px;
    padding: 13px 29px;
    position: absolute;
    top: -46.46%;
    left: 50%;
    transform: translateX(-50%);
}

  &__button{
    text-align: center;
    position: relative;
    padding-top: 35.5px;
  }
}

@media screen and (max-width: 992px) and (min-width: 481px) {
  .header{
    max-width: 992px;
    padding-bottom: 27.5px;

    &__main{
      background: url("../img/header-middle.svg") no-repeat center center;
      background-size: 100% 100%;
      height: 800px;
    }



&__logo-main{
     display: flex;
    justify-content: space-between;
}

     &__logo-text{
      display: block;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      color: #8D81AC;
      text-decoration: none;
    }
    &__logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logo:hover &__logo-text{
      color: #FFFFFF;
    }


    &__logo-link{
      display: block;
      margin-right: 17px;
    }
    &__nav{
      padding: 22px 20px 18px 20px;
      display: block;
      }

    &__burger, &__dropdown{
      display: none;
    }
    &__menu{
      display: flex;
      justify-content: space-evenly;
      margin-top: 23px;
    }
&__menu-btn{
  display: none;
}
&__item-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #8D81AC;
  text-decoration: none;
  cursor: pointer;
}
    &__item-link:hover{
      color: #FFFFFF;
    }
    &__title{
      padding-top: 68.91px;
      margin-bottom: 19.09px;
      font-size: 72px;
    }

    &__main-text{
      margin-bottom: 19px;
      font-size: 24px;
      }
    &__btn-nav {
      font-size: 16px;
      line-height: 16px;
      }

    &__btn{
  font-size: 21px;
  padding: 21px 61px;
  position: absolute;
  top: -56.097%;
  left: 50%;
  transform: translateX(-50%);
}
    &__btn:hover{
      color: #8d81ac;
      background: #fff;
      border: 2px solid #8D81AC;
    }

    &__button{
      text-align: center;
      position: relative;
      padding-top: 47.5px;
    }

  }
}

@media screen and (min-width: 993px) {
  .header {
    max-width: 100vw;
    padding-bottom: 66px;

    &__section{
      max-width: 1200px;
      padding-bottom: 66px;
      margin: 0 auto;
    }

    &__main {
      max-width: 100vw;
      background: url("../img/header-large.svg") no-repeat center center;
      padding: 0;
      background-size: cover;
      height: 800px;
     }

    &__logo-main {
      display: flex;
      justify-content: space-between;
      max-width: fit-content;
    }

    &__logo-text {
      display: block;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      color: #8D81AC;
      text-decoration: none;
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__logo:hover &__logo-text{
      color: #FFFFFF;
    }

    &__logo-link {
      display: block;
      margin-right: 17px;
    }

    &__nav {
      padding: 29.5px 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
    }

    &__burger, &__dropdown, &__btn-nav {
      display: none;
    }

    &__menu {
      display: flex;
      justify-content: space-between;
      width: 71%;
    }

    &__item-link {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #8D81AC;
      text-decoration: none;
      cursor: pointer;
    }
    &__item-link:hover{
      color: #FFFFFF;
    }
    &__menu-btn {
      display: block;
    }

    &__item-btn {
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      background: #8d81ac;
      border-radius: 40px;
      border: none;
      padding: 11px 27.4px;
    }

    &__item-btn:hover{
      color: #8d81ac;
        background: #fff;
        border: 1px solid #8D81AC;
    }

  &__title {
    font-size: 82px;
    padding-top: 83px;
    margin-bottom: 19px;
  }

  &__main-text {
    font-size: 30px;
    margin-bottom: 19px;
  }

  &__text {
    font-size: 16px;
    }
    &__btn{
      font-size: 21px;
      padding: 21px 61px;
      position: absolute;
      top: -56.097%;
      left: 50%;
      transform: translateX(-50%);
    }

    &__btn:hover{
      color: #8d81ac;
      background: #fff;
      border: 2px solid #8D81AC;
    }

    &__button{
      text-align: center;
      position: relative;
      padding-top: 47.5px;
    }
}

}