.pricing{
  background: url("../../img/Layer2.png"), linear-gradient(#4b3b4e,#4b3b4e);
  padding-top: 75px;
  padding-bottom: 93px;
  padding-left: 80px;
  color: #fff;
  &__title{
    @include montserratBold;
    font-size: 28px;
    text-align: center;
    line-height: 42px;
    margin-bottom: 56px;
  }
  &__wrap{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  &__item{
    @include flexContainer(column);
    justify-content: center;
    width: 100%;
    margin-bottom: 14px;
    padding-bottom: 38px;
    &--padding-inline{
      width: 92%;
    }
    &--bg-grey{
      background-color: rgba(255,255,255,.11);
    }
    &--bg-dark{
      background-color: rgba(63,50,65,.84);
    }
    &--padding-bottom-bigger{
      padding-bottom: 47px;
    }
  }
  &__subtitle{
    background-color: rgba(255,255,255,.06);
    @include montserratReg;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 47px;
    padding-bottom: 34px;
    width: 100%;
    &--dark-large-bg{
      background-color: #3a2d3d;
      padding-top: 51px;
      padding-bottom: 43px;

    }
  }
  &__price{
    @include montserratBold;
    font-size: 60.18px;
    padding-top: 29px;
    &--regular{
      @include montserratReg;
    }
    &--large{
      padding-top: 15px;
      font-size: 82px;
    }
  }
  &__period{
    padding-top: 20px;
    padding-bottom: 73px;
    @include montserratReg;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.302);
    position: relative;

  }
  &__period:after{
    content: " ";
    padding: 0 30px;
    border: 2px solid #8d81ac;
    position: absolute;
    right: calc((100% - 64px) / 2);
    top: 180px;

  }
  &__info{
    text-align: center;
    line-height: 28px;
    @include montserratReg;
    font-size: 16px;
    padding-bottom: 68px;
    &--large{
      padding-bottom: 79px;
    }
    &--small{
      padding-bottom: 40px;
    }
  }
  .btn{
    border: none;
    color: #fff;
    border-radius: 50px;
    @include montserratReg;
    &_bg-grey{
      background-color: rgba(255,255,255,.15);
      color: #fff;
    }
    &_bg-grey:hover,
    &_bg-grey:active{
      background-color: rgba(255,255,255,.7);
      @include montserratBold;
      color: #7f6d78;
    }

    &_medium-font{
      font-size: 15px;
    }
    &_width{
      width: 160px;
    }
    &_uppercase{
      text-transform: uppercase;
    }
    &_padding-block{
      padding-top: 16px;
      padding-bottom: 15px;
    }
    &_bigger{
      width: 190px;
      padding-top: 21px;
      padding-bottom: 19px;
      font-size: 16px;
    }
  }
}

@media screen and(min-width: 481px) {
  .pricing {
    padding-top: 80px;
    padding-bottom: 80px;
    &__title {
      font-size: 42px;
      margin-bottom: 47px;
    }
    &__wrap {
      width: 95%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: 0;
      grid-row-gap: 37px;
    }
    &__item {
      margin-bottom: 0;
      &--padding-inline {
        width: 92%;
      }
    }
    &__subtitle{
      padding-left: 15px;
      padding-right: 15px;
      font-size: 21px;
    }
    &__info {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media screen and(min-width:992px){
  .pricing {
    padding-bottom: 97px;

    &__title {
      font-size: 48px;
      margin-bottom: 70px;
    }
    &__wrap {
      width: 93%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 13px;
      grid-row-gap: 0;
    }
    &__item {
      margin-bottom: 0;
      &--padding-inline {
        width: 100%;
      }
    }
  }
}