.rev-editor {
  text-align: center;
  &__title {
    margin-bottom: 23px;
    @include montserratReg;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #635c73;
    line-height: 1.5;
  }

  &__subtitle {
    @include montserratReg;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    color: #323232;
  }

  &__btn-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 34px 0 68px;
  }

  &__btn-menu-item {
    display: inline-block;
    margin: 0 5px 20px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;

    font-weight: 700;
    font-size: 14px;
    color: #24292e;
    user-select: none;
  }

  &__btn-actions {
    display: inline-block;
    padding: 3px 10px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    border-right: 1px solid rgba(27, 31, 35, .2);
    cursor: pointer;
  }

  &__btn-menu-item:nth-child(1) &__btn-actions:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: currentcolor;
    vertical-align: -2px;
  }

  &__btn-actions:hover {
    box-shadow: inset 0 25px 0 0 rgba(0, 0, 0, .03);
  }

  &__btn-actions:active {
    box-shadow: inset 0 25px 0 0 rgba(0, 0, 0, .03),
    inset 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  }

  &__icon {
    vertical-align: -3px;
  }

  &__action-social {
    margin: 0 5px;
  }
}
@media screen and(min-width: 481px) {
  .rev-editor {
    &__title {
      font-size: 34px;
      margin-bottom: 38px;
    }

    &__subtitle {
      padding: 0 47px;
      font-size: 20px;
      line-height: 1.5;
    }

    &__btn-menu {
      margin: 36px 0 98px;
    }
  }
}

@media screen and (min-width: 992px){
  .rev-editor {
    &__title {
      font-size: 41px;
    }

    &__subtitle {
      font-size: 23px;
    }
  }
}