.testimonials{
  max-width: 480px;
  background: url("../img/testmonials-bg.svg") no-repeat center center;
  background-size: 100% 100%;
  padding: 57px 35px 12px 34px ;

&__title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 8px;
  }

&__img{
  max-width: 100%;
}
  &__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
  }

&__text{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
    text-align: center;
 }
&__paragraph {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #A291A5;
  margin-top: 37px;
 }

  &__line{
    width: 97.61%;
    height: 2px;
    background:  #645766;
    margin-top: 22px;
    border: none;
    margin-bottom: 0;
  }

}

@media screen and (max-width: 992px) and (min-width: 481px){
  .testimonials {
    max-width: 992px;
    background: url("../img/testmonials-middle.svg") no-repeat center center;
    background-size: 100% 100%;
    padding: 85.91px 18px 9px 18px;

    &__title{
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 29.09px;
      }
    &__wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__div{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 56px;
      flex: 0 1 44.67%;
    }
    &__img {
      max-width: 100%;
      min-height: 64px;
      margin-bottom: 30px;
    }

&__logo{
  max-width: 100%;
}
    &__text{
      margin-top: 0;
    }
    &__paragraph {
     margin-top: 67.5px;
    }

    &__line{
      margin-top: 19.5px;
      width: 77.95%;
    }
  }
}


@media screen and (min-width: 993px){

  .testimonials {
    max-width: 100vw;;
    background: url("../img/testmonials-large.svg") no-repeat center center;
    padding: 0;
    background-size: cover;

    &__section{
      max-width: 1200px;
      padding: 108.11px 80px 9px 81px;
      margin: 0 auto;
    }
    &__title{
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 74.89px
    }
    &__wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__div{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 1 30%;
      padding-top: 0;
      margin-bottom: 111px;
    }
    &__img {
      max-width: 100%;
      min-height: 64px;
      margin-bottom: 30px;
    }

    &__logo{
      max-width: 100%;
    }
    &__text{
      margin-top: 0;
    }
    &__paragraph {
      margin-top: 7.5px;
      padding-left: 60px;
      padding-right: 60px;
    }


    &__line{
      margin-top: 18.5px;
      width: 77.95%;
    }

  }

















}