@mixin burger-line{
  position: absolute;
  height: 3px;
  background: #FFFFFF;
  border-radius: 5px;
}
@mixin burger-btn-nav{
  position: fixed;
  right: 28px;
}

@mixin title{
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
}

@mixin link{
  font-size: 11px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  display: block;
}
@mixin btn{
  font-weight: bold;
  color: #FFFFFF;
  background: #8D81AC;
  border-radius: 40px;
  border: none;
  outline: none;
}

@mixin montserratBold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@mixin flexContainer($direction){
  display: flex;
  align-items: center;
  flex-direction: $direction;
}
@mixin montserratReg{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}