@import "reset";
@import "mixins";

.container{
  min-width: 320px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
 }

@import "sections/header";
@import "sections/testimonials";
@import "sections/pricing";
@import "sections/revolutionary";
@import "sections/features";